# Quarto local build + cache
_site/
.quarto/
_freeze/

# Legacy output from old /docs publishing (safe to ignore now that you're on Actions)
docs/

# Jupyter & Python
.ipynb_checkpoints/
__pycache__/
*.pyc

/.quarto/
**/*.quarto_ipynb
